.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #eee;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

